*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: whitesmoke;
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
  }
  .navbar__left {
    display: flex;
    align-items: center;
  }
  .navbar__left img {
    margin-right: 10px;
    margin-left: 20px;
  }
  .navbar__left span {
    font-size: 20px;
  }
  .navbar__right {
    display: flex;
    align-items: center;
  }

  .navbar__logo {
    height: 30px;
    width: auto;
  }

  .navbar__button{
    text-decoration: none;
    color: green;
    border: 1px solid green;
    border-radius: 8px;
    padding: 4px 15px;
  }

  .navbar__button:hover{
    color: white;
    background-color: green;
  }